:root {
  font-family: "Montserrat", sans-serif;
  /*
	font-weight: 500;
	font-weight: 700;
	*/
}

body,
h1,
h2,
p,
button,
ul,
li {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
}

button {
  background: none;
  border: 0;
  font-family: inherit;
}

a {
  text-decoration: none;
}

.wrapper {
  max-width: 1080px;
  margin: 0 auto;
  padding: 100px 0;
}

.seashell-title,
.purple-title {
  font-size: 40px;
  font-weight: 500;
}

/* section-seashell */

.section-seashell {
  background-color: seashell;
}

.section-seashell header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
}

.seashell-title {
  color: salmon;
}

.seashell-underline {
  box-shadow: inset 0 -0.5em 0 0 white;
}

.btn-add {
  font-size: 14px;
  color: white;
  background: orangered;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 4px 0 0 #bb2d00;
  cursor: pointer;
}

.card {
  background-color: white;
  position: relative;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card > img {
  width: 100%;
  vertical-align: top;
  border-bottom: 4px solid black;
  box-sizing: border-box;
}

.card-contents {
  padding: 24px 24px 0 24px;
}

.sold-out::before {
  display: block;
  content: " ";
  width: 100px;
  height: 100px;
  background: url(./images/badge.png) no-repeat 0 0 / cover;
  position: absolute;
  top: -8px;
  left: -8px;
}

.btn-card {
  color: #673399;
  background-color: #f1e0f8;
  border-radius: 5px;
  padding: 5px;
  font-size: 12px;
}

.flex-wrapper {
  display: flex;
  gap: 24px;
}

.card {
  flex-basis: calc(100% / 3);
  position: relative;
  padding-bottom: 68px;
}

.card::after {
  content: ' ';
  display: block;
  width: calc(100% - 24px);
  border: 2px solid #eee;
  position: absolute;
  bottom: 68px;
  left: 24px;
}

.card-title {
  margin: 24px 0;
  font-size: 24px;
  line-height: 1.4em;
  min-height: 67px;
}

.card-text {
  font-size: 14px;
  line-height: 1.4em;
  color: #8b8c8c;
  margin-bottom: 24px;
  min-height: 117px;
}

.card-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  height: 68px;
  width: calc(100% - 48px);
}

.footer-text {
  font-size: 12px;
  color: #8b8c8c;
}

.circle-people {
  border-radius: 50%;
  height: 30px;
  border: 3px solid white;
  box-sizing: border-box;
}

.circle-people:nth-child(2),
.circle-people:nth-child(3) {
  margin-left: -15px;
}
/* //section-seashell */

/* section-purple */
.section-purple {
  background-color: #673399;
}

.section-purple header {
  display: flex;
  align-items: center;
  margin-bottom: 100px;
}

.purple-title {
  color: white;
}

.purple-underline {
  box-shadow: inset 0 -0.5em 0 0 orangered;
}

.deco-line {
  display: block;
  width: 80px;
  height: 0;
  border: 1px solid #bd8fe8;
  margin: 0 25px;
}

.purple-text {
  color: #bd8fe8;
  font-size: 14px;
  line-height: 1.6;
}

.container {
  display: flex;
  background-color: #fff;
}

.img-title {
  display: flex;
  flex-basis: 26%;
  color: #fff;
  font-size: 30px;
  justify-content: center;
  align-items: center;
  min-height: 176px;
}

.rest {
  background: linear-gradient(rgba(103, 51, 153, 0.5), rgba(103, 51, 153, 0.5)),
    url(./images/photo01.png) no-repeat 0 0 / cover;
}

.craft {
  background: linear-gradient(rgba(103, 51, 153, 0.5), rgba(103, 51, 153, 0.5)),
    url(./images/photo02.png) no-repeat 0 0 / cover;
}

.scrap {
  background: linear-gradient(rgba(103, 51, 153, 0.5), rgba(103, 51, 153, 0.5)),
    url(./images/photo03.png) no-repeat 0 0 / cover;
}

.contents-box {
  padding: 24px;
  flex-basis: 74%;
}

.contents-title {
  font-size: 18px;
  color: #673399;
  font-weight: 700;
  margin-bottom: 32px;
}

.contents-list {
  font-size: 14px;
  text-indent: -20px;
  padding-left: 20px;
}

.contents-list:not(:first-child) {
  margin-top: 10px;
}

.contents-list::before {
  display: inline-block;
  content: " ";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #bd8fe8;
  margin-right: 10px;
}

.reverse {
  flex-direction: row-reverse;
  justify-content: space-between;
}

.container:not(:first-child) {
  margin: 24px 0;
}

.container:last-child {
  margin-bottom: 0px;
}

/* //section-purple */

@media (max-width: 1176px) {
  .section-seashell header,
  .section-purple header {
    display: block;
  }

  .btn-add {
    margin-top: 30px;
  }

  /* section-purple */
  .purple-text {
    margin-top: 30px;
    margin-bottom: 100px;
  }

  .deco-line {
    display: none;
  }

  .wrapper {
    width: calc(100% - 48px);
  }

  .img-title {
    flex-basis: 40%;
  }

  .contents-box {
    flex-basis: 60%;
  }
}

@media (max-width: 800px) {
  .flex-wrapper {
    flex-direction: column;
  }
}

@media (max-width: 520px) {
  .container {
    display: flex;
    flex-direction: column;
  }

}